<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hadir Automation Suite">
    <test name="Cucumber Test">
        <classes>
            <class name="com.juaracoding.hadir.runners.RunnerTest"></class>
        </classes>
    </test>
</suite> 